@model IEnumerable<tbl_user>    

      <!-- Bordered Table -->
      <table id="exam" class="table table-striped table-bordered">
        <thead>
          <tr>
            <!-- <th scope="col" class="text-center table-active">User id</th> -->
            <th scope="col"  class="text-center table-dark">Serial no.</th>
            <th scope="col" class="text-center table-dark">User Name</th>
            <th scope="col" class="text-center table-dark">User Email</th>
            <th scope="col" class="text-center table-dark">Verification Code</th>
            <th scope="col" class="text-center table-dark">Email Verified</th>
            <th scope="col" class="text-center table-dark">Role</th>
            <th scope="col" class="text-center table-dark">Registration Time</th>
            <th scope="col" class="text-center table-dark">Store Name</th>
            <th scope="col" class="text-center table-dark">Approve User</th>
            <th scope="col" class="text-center table-dark">Delete User</th>
          </tr>
        </thead>
        <tbody>
@{
           var j = 1;


 foreach (tbl_user i in Model)
           {
           <tr class="xyz">
           <td class="text-center"><b>@j</b></td>             
           <td class="text-center Usr_name">@i.user_name</td>
           <td class="text-center usr_email">@i.user_email_phone</td>
           <td class="text-center">@i.user_verification_code</td>
           @if (i.user_emailVerified == true)
                                        {
           <td class="text-center"><img height="50" width="50" src="~/BusOwnerassets/img/tick.png" /></td> 
           

           <td class="text-center">@i.user_role</td>
           <td class="text-center">@i.Created_at</td> 
           <td class="text-center org_name">@i.organization_name</td> 
           <th scope="row" class="text-center">
           <a 
           data-ajax="true"
           data-ajax-mode="replace"
           data-ajax-update="#update_1"

           asp-controller="SuperAdmin" 
           asp-action="ApproveBusOwner"
           asp-route-id="@i.user_id"
           class="btn btn-primary" style="font-size: 18px;">Approve</a>
           </th>                   
           <th scope="row" class="text-center">
           <a class="btn btn-danger" style="font-size: 20px;"
           data-ajax="true"
           data-ajax-mode="replace"
           data-ajax-update="#update_1"

           asp-controller="SuperAdmin" 
           asp-action="DeleteBusOwner"
           asp-route-id="@i.user_id"><i class='bx bx-trash'></i></a>
           </th>
                                        }else
                                        {
           <td class="text-center"><img height="50" width="50" src="~/BusOwnerassets/img/cross.png" /></td>
                                       
           <td class="text-center">@i.user_role</td>
           <td class="text-center">@i.Created_at</td> 
           <td class="text-center org_name">@i.organization_name</td> 
           <th scope="row" class="text-center"><button disabled class="btn btn-primary" style="font-size: 18px;">Approve</button></th>                   
           <th scope="row" class="text-center">
           <a class="btn btn-danger" style="font-size: 20px;" 
           data-ajax="true"
           data-ajax-mode="replace"
           data-ajax-update="#update_1"

           asp-controller="SuperAdmin" 
           asp-action="DeleteBusOwner"
           asp-route-id="@i.user_id"><i class='bx bx-trash'></i></a>
           </th>
            }
         </tr>
         j++;
    }   


     }
        </tbody>
      </table>
      <!-- End Bordered Table -->