@model IEnumerable<tbl_bus>
@{
   Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}


<div style="background-color: rgb(255, 255, 255);" class="container"> 
    <section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Luxury</h2>
          <ol>
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li>Luxury</li>
          </ol>
        </div>

      </div>
       </section>
    <div class="text-center">
        <p class="display-3 text-danger" style="background:transparent;">
        @TempData["msg13"] 
    </p>

    </div>
      @if((string)TempData["msg13"] == "No Bus Available")
    {
           <div style="margin-top:300px;"></div>
    }
    @if((string)TempData["msg13"] != "No Bus Available")
    {
         
      <div class="input-group mb-3">
        <div class="form-outline">
          <input style="line-height: 25px;border: 1px solid grey;" id="id" onkeyup="srch()" class="form-control mt-5" placeholder="Search" />
        </div>
        <button type="button" class="btn btn-primary h-25 mt-5">
          <i class="bx bx-search"></i>
        </button>
        </div>
      <br>
    }
                <div id="exam">
        @foreach (tbl_bus i in Model)
        {
                <div class="xyz col-md-12">
      <div  class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-3 bus-image">
                      <img src="~/assets/img/p3.png" alt="bus" height="130" width="130">
                  </div>
                  <div class="col-md-8 bus-details">
                      <h5 class="card-title bus-name nmbr_plate">@i.bus_NumberPlate (<span class="bus-type fs-13">@i.bus_OrganizationName</span>)</h5>
                      <div class="row card-text m-b-10 bus-description">
                          <div class="col-sm-6 fs-14 Usr_name">
                              <i class="bi bi-smartwatch" style="font-size: 13px;"></i> Departure: <span class="p-r-5 fr ">@i.bus_startingTime</span>
                          </div>
                          <div class="col-sm-6 fs-14 usr_email">
                              <i class="fa fa-road"></i> Route: <span class="p-r-5 fr ">@i.bus_destination</span>                        
                          </div>
                          <div class="col-sm-6 fs-14">
                             <img src="~/assets/img/seat.png" height="18" style="margin-left:-2px !important;"/>
                              Total Bus Seats:
                              <span class="p-r-5 fr"><span class="seats-left">@i.bus_noOfSeats</span> seats </span>
                          </div>
                          <div class="col-sm-6 fs-14 org_name">
                              <i class="bi bi-cash"></i> Fare:
                              <span class="p-r-5 fr ">@i.bus_ticketPrice Rs</span>
                          </div>
                      </div>
                      <div class="p-t-13">
                          <a asp-route-id="@i.bus_id" asp-controller="Services" asp-action="BookTicket" class="btn btn-circle btn-success book_btn mt-3" data-bus="1">Book Seats</a>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
        }
    
      </div>





</div>


                              <script>
                              function srch(){
    let filter = document.getElementById('id').value.toUpperCase();
    let myTable = document.getElementById('exam');
    let whole_table = document.querySelectorAll('.xyz');
    
    let tr = myTable.getElementsByClassName("Usr_name")
    let tr1 = myTable.getElementsByClassName("usr_email")
    let tr2 = myTable.getElementsByClassName("org_name")
    let tr3 = myTable.getElementsByClassName("nmbr_plate")
    for(var i=0; i<tr.length; i++) {
      let td = tr[i].textContent || td.innerHTML;
      let td1 = tr1[i].textContent || td.innerHTML;
      let td2 = tr2[i].textContent || td.innerHTML;
      let td3 = tr3[i].textContent || td.innerHTML;
    if(td) {
            if(td.toUpperCase().indexOf(filter) > -1 || td1.toUpperCase().indexOf(filter) > -1 || td2.toUpperCase().indexOf(filter) > -1 || td3.toUpperCase().indexOf(filter) > -1){
               console.log(whole_table[i].style.display = "")
            }else{
              whole_table[i].style.display = "none"
            }
          }
        }
      }
    
    
                              
                              </script>